<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find JKU_maps)/Laboratory/map.yaml" output="screen"/> 

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 map odom 100" />

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_omni.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
<remap from="move_base_simple/goal" to="goal" />
    <rosparam file="$(find R1_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find R1_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find R1_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find R1_2dnav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find R1_2dnav)/base_local_planner_params.yaml" command="load" />
  </node>
</launch>	
