<launch>
  <node pkg="Laser_PLS200" type="pls_node" name="pls_node" output="screen"></node>
  <arg name="model" default="$(find R1_urdf)/Robot_Linz.urdf"/>
  <param name="robot_description" textfile="$(arg model)" />

  <node name="r1_odom_2" pkg="R1_Odom" type="r1_odom_2" output="screen" ></node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
